$sliderbg :#6889bf;
$nav-link-color: black;
$nav-link-hover-color: #ff3f40;
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$warning: #E4A11A;
$color-highlight: #E4A11A;
$colorwhite :#fff;
$dark :#070A2B;

$light:$color-highlight