.contact {
    .nav {
        background-color: $color-secondary;

        .menue {
            margin-top: 4.8rem;
            align-items: center;
            padding: 20px 0px;

            p {
                margin: 0;
            }

        }
    }

    .leftSection {
        padding: 3rem .5rem;
        
        
        .icon {
            i:hover {
                background-color: $color-highlight;
                color: $colorwhite;
                border-color: $colorwhite !important;
            }
        }
    }
    .space {
        padding: 1.5rem 0;
    }
    .rightSection{
        padding: 3rem .5rem;
    }
}