.contact {
    
    .leftSection {
        padding: 3rem .5rem;
        
        
        .icon {
            i:hover {
                background-color: $color-highlight;
                color: $colorwhite;
                border-color: $colorwhite !important;
            }
        }
    }
    .space {
        padding: 1.5rem 0;
    }
    .rightSection{
        padding: 3rem .5rem;
    }
}