.shop {
   
    .searchbar {
        width: 100%;
    }

    .selecter {
        width: 40%;
    }

}

@media only screen and (max-width:"450px") {
    .shop {
        .selecter {
            width: 100%;
        }
    }
}