.support-area {
    margin-top: 70px;
    text-align: center;

    .box {
        padding: 20px;
        border-radius: 10px;

        .support-icon {
          
            img {
                margin: 20px;
                width: 60px;
                height: 60px;
            }
        }
    }

    .box:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}