@import './sass/bootstrap';



#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}
.secNav{
    .nav {
        background-color: $color-secondary;
    
        .menue {
            margin-top: 4.8rem;
            align-items: center;
            padding: 20px 0px;
    
            p {
                margin: 0;
            }
    
        }
    }
}

// -------------------------------- counter button scss
.Button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    button {
        background: $color-highlight;
        color: $colorwhite !important;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }


    input {
        width: 50px;
        border: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

// ---------------- pagination styling
.paginat {
    .pagination {
        list-style: none;
        padding: 0;
        margin-top: 10px;

        li {
            display: inline;
            text-align: center;
        }

        a {
            float: left;
            display: block;
            font-size: 14px;
            text-decoration: none;
            padding: 5px 12px;
            color: $colorwhite;
            margin-left: -1px;
            border: 1px solid transparent;
            line-height: 1.5;

            &.active {
                cursor: default;
            }

            &:active {
                outline: none;
            }
        }
    }

    .modal-4 {
        a {
            margin: 0 5px;
            padding: 0;
            width: 30px;
            height: 30px;
            line-height: 30px;
            @include border-radius(100%);
            background-color: #F7C12C;

            &.prev {
                @include border-radius(50px 0 0 50px);
                width: 100px;
            }

            &.next {
                @include border-radius(0 50px 50px 0);
                width: 100px;
            }

            &:hover {
                background-color: $color-highlight;
            }

            &.active,
            &:active {
                background-color: $color-highlight;
            }
        }
    }
}